.card-img {
    width: 300px;
    height: 300px;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    justify-content: center;
    margin: 0;
}

.col {
    margin: 0;
}

.card {
    width: 302px;
    margin: 0;
}

.card-footer {
    display:flex;
    justify-content: center;
    border-top-color: white;
}

.card-header {
    display: flex;
    justify-content: center;
    border-bottom-color: white;
}

.card-title {
    color: white;
    display: flex;
    justify-content: center;
}

.card-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

a:hover {
    color: #cccccc;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

p{
    padding-right: 5px;
    padding-left:5px;
    margin-bottom:0;
}

.react-audio-player {
    height: 40px;
}